:root {
    --alabaster: #d8e2dcff;
    --accentwhite: rgb(247, 248, 245);
    --jet: #30323dff;
    --independence: #4d5061ff;
    --celadon-green: #048a81ff;
    --primaryBlue: #47a6bf;
    --secoundaryBlue: #73c0d4;
    --hoverBlue: #6ae2f5;
}