* {

    margin: 0;
}


body,html {

    margin: 0px;
    padding: 0px;
    margin-top: 0 !important;


}
:root {
    --background: #d8e2dcff;

    --primaryWhite: #FFFFFF;
    --secoundaryWhite: #f2f2f2;

    --celadon-green: #048a81ff;
    --primaryBlue: #47a6bf;
    --secoundaryBlue: #73c0d4;
    --hoverBlue: #6ae2f5;
}