

#project-tab-bar::-webkit-scrollbar {
    display: none;

}

#project-tab-bar {
    margin: 0 !important;
    background-color: var(--background);
    max-width: 100vw;
    min-width: 100vw;
    white-space: nowrap;
    display: block;
    max-height: 47px;
    overflow-x: scroll;
    overflow-y: hidden;


}


 ul.project-list {
    padding: 0;
     list-style: none;

     display: block;
     height: 47px;
     margin: 0;
     white-space: nowrap;
 }

.project-list:after {
    display:block;
    white-space: nowrap;
    clear:both;
    content:'';
}


.project-list li {
    margin-left: 4px;
    margin-top: 6px;
    margin-bottom: 5px;
    diplay: inline;
    list-style:none;

}

.project-list li:after{

    display: inline;

}
.project-list {
    margin-bottom: 0;

}

.project-list li:not(.project-active) {
    margin-top: 7px;
    margin-bottom: 5px;


}

li.project-cnp-button div {

    border-radius: 3px 3px 3px 3px;

}

.project-tab-container {
    padding:7px 7px;
    border-radius:3px 3px 0 0;
    background:var(--primaryBlue);
    font-size:16px;
    font-weight:400;
    color:#4c4c4c;
    transition:background-color linear 0.15s;
    cursor: pointer;

}




.project-tab-container:hover {
    background:var(--secoundaryBlue);
}




li.project-active {

    margin-bottom: 0;
}

.project-tab-container a,.project-tab-container p {
    text-decoration:none;
    color:#4c4c4c;
    border-radius:3px 3px 0 0;
    padding:7px 5px;

    cursor: pointer !important;

}

li.project-active div, li.project-active div:hover {
    background: var(--hoverBlue);
    color:#4c4c4c;
    padding-bottom: 16px;
    margin-bottom: 0;


}


li:after,li:before,li {
    white-space: nowrap !important;
    display: inline-flex !important;
}

*:not(div):not(p){
    -webkit-user-select: none;
    -webkit-user-drag: none;
    cursor: default;
}