* {

    margin: 0;
}


body,html {

    margin: 0px;
    padding: 0px;
    margin-top: 0 !important;


}

#tabBar {
    margin: 0 !important;
    background-color: darkolivegreen;


}


.tabs {
    width:100%;
}
 ul {
    padding: 0;
 }

.tab-container:after {
    display:block;
    clear:both;
    content:'';
}
.tab-container li {
    margin-left: 4px;
    margin-top: 6px;
    margin-bottom: 5px;
    float: left;
    list-style:none;

}
.tab-container {
    margin-bottom: 0;
}

.tab-container li:not(.active) {
    margin-top: 7px;
    margin-bottom: 5px;


}

li.cnp-button div {

    border-radius: 3px 3px 3px 3px;

}

.projectTabContainer {
    padding:7px 7px;
    display:inline-block;
    border-radius:3px 3px 0 0;
    background:#7FB5DA;
    font-size:16px;
    font-weight:400;
    color:#4c4c4c;
    transition:background-color linear 0.15s;
    cursor: pointer;

}




.projectTabContainer:hover {
    background:#a7cce5;
}

li.active {

    margin-bottom: 0;
}

.projectTabContainer a {
    text-decoration:none;
    color:#4c4c4c;

    border-radius:3px 3px 0 0;
    padding:7px 5px;
    min-height: 31%;

    cursor: pointer !important;

}

li.active div, li.active div:hover {
    background:#fff;
    color:#4c4c4c;
    padding-bottom: 16px;
    margin-bottom: 0;


}

/*----- Content of Tabs -----*/
.tab-content {
    padding:15px;
    border-radius:3px;
    box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    background:#fff;
}

.tab {
    display:none;
}

.tab.active {
    display:block;

}

*:not(div):not(p){
    -webkit-user-select: none;
    -webkit-user-drag: none;
    cursor: default;
}