* {

    margin: 0;
}


body,html {

    margin: 0px;
    padding: 0px;
    margin-top: 0 !important;


}

#project-tab-bar {
    margin: 0 !important;
    background-color: var(--alabaster);


}


.tabs {
    width:100%;
}
 ul.project-list {
    padding: 0;
 }

.project-list:after {
    display:block;
    clear:both;
    content:'';
}
.project-list li {
    margin-left: 4px;
    margin-top: 6px;
    margin-bottom: 5px;
    float: left;
    list-style:none;

}
.project-list {
    margin-bottom: 0;
}

.project-list li:not(.project-active) {
    margin-top: 7px;
    margin-bottom: 5px;


}

li.cnp-button div {

    border-radius: 3px 3px 3px 3px;

}

.project-tab-container {
    padding:7px 7px;
    display:inline-block;
    border-radius:3px 3px 0 0;
    background:var(--primaryBlue);
    font-size:16px;
    font-weight:400;
    color:#4c4c4c;
    transition:background-color linear 0.15s;
    cursor: pointer;

}




.project-tab-container:hover {
    background:var(--secoundaryBlue);
}

.project-tab-container.over{
    border: 3px dotted #666;
}



li.project-active {

    margin-bottom: 0;
}

.project-tab-container a,.project-tab-container p {
    text-decoration:none;
    color:#4c4c4c;
    border-radius:3px 3px 0 0;
    padding:7px 5px;

    cursor: pointer !important;

}

li.project-active div, li.project-active div:hover {
    background: var(--hoverBlue);
    color:#4c4c4c;
    padding-bottom: 16px;
    margin-bottom: 0;


}


*:not(div):not(p){
    -webkit-user-select: none;
    -webkit-user-drag: none;
    cursor: default;
}